<%=form_for :own_question ,:url=>own_questions_path, html:{id:'ownq_form'}, remote: true  do |f| %>
<fieldset>
  <legend>Zformulujte svou otázku</legend>
  <div class="field">
	<label for="question_title">Záhlaví *</label>
	<%= f.text_field :title %>
  </div>

  <div class="field">
	<label for="question_content">Otázka *</label>
	<%= f.text_area :content, :class => "owtinymce", :rows => 10, :cols=>160 %>
	<%= tinymce( :editor_selector => "owtinymce" , :width=>635)%>

	<span class="fieldWithErrors"></span>
  </div>
</fieldset>
<br/>
<div class="actions">
  <input class="btn btn-primary" name="commit" type="submit" value="Uložit otázku" />
</div>
<%end%>