Zde budete moct hlasovat o otázkách ostatních voličů. Můžete udělit po jednom hlasu nejvýše 2&nbsp;otázkám a jeden hlas záporný jedné otázce. Své hlasování můžete kdykoli odvolat a změnit.

<div id="ownquestions_voting">
<%= render "own_questions/ownquestions_voting"     %>
</div>