<div class="" id="right-column">


     <% if @own_question && @own_question.id %>
      Svou otázku můžete kdykoli vymazat a vložit novou. Tím se pochopitelně smažou všechny získané body!
          
                <h2><%=  raw @own_question.title %></h2>
                <%=  raw @own_question.content %>
         <div class="cl"></div>
                 <%= link_to "Smazat otázku", own_question_path(@own_question), :method=>'delete', :remote=>true, :id=>'destroy_own_question' %>
         
      <% else %>

          Zde můžete zformulovat vlastní strategickou otázku a zúčastnit se kvalifikační soutěže pro voliče o otázku nejlepší a s největší podporou. Tři nejlepší otázky se pak utkají s otázkami kandidujících v nadcházejících volbách.
          Svou otázku můžete kdykoli vymazat a vložit novou. Tím se pochopitelně smažou všechny získané body.
          <%= render "own_questions/form"%>

      <% end %>

  <div class="cl"></div>
</div>
