<section id="elections-detail">
  <h2><%= @election.election_type.name + ' ' + @election.held.strftime('%Y') %></h2>
  <div><%= raw @election.description %></div>


  <% if @election.election_type_id==5 %>
      <%= render 'citizens' %>
  <% else %>
    <%= render 'politicians' %>

  <% end %>



</section>
