<% if @subtask.errors.any? %>

    <h3><%= pluralize(@subtask.errors.count, "error") %> brání uložení:</h3>
    <ul>
      <% @subtask.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<% if @err %>
    <p><%= @err %></p>
<% end%>