<%= form_for(@subtask, url:citizen_question_task_subtasks_path, remote: true) do |f| %>
    <div id="error_explanation"></div>

    podúkol:
    <%= f.text_area :content, {rows:3, cols:60} %>

    <p>kolik hodin to bude trvat:
    <%= f.text_field :hours %> h
    </p>
  <div class="actions">
    <%= f.submit 'Přidat', :class => 'btn btn-primary' %>
  </div>
<% end %>
