// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article.question {
  ul, ol {
    margin-bottom: 9px;
    padding-left: 48px;

    li {
      list-style-type: inherit;
    }
  }
  
  ul {
    list-style-type: circle;
  }
  
  ol {
    list-style-type: decimal;
  }
}


.ophs {
  .oph_tab_title{ width:400px; padding-bottom: 10px;}
  td { border-bottom: 1px dotted silver; padding:6px 10px;}
}



.own_question_vote_item{
  h3{
    font-size:1.2em;
    margin:0;padding:0;
  }

  border-top: 1px solid #eeeeee;
  padding-top: 1px;
  margin-top: 0.5em;

  .votelink{
    font-size: 2em;
    text-decoration:none;
    border: none;
  }
  .plus{ color:green; }
  .minus {color:darkred; }
  .rm { font-size: 1em;;}


}