// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.accepted {
  color:green;
}

.task_subtasks{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li.stat_3{
  list-style: none;
  padding-left:20px;margin-left: 0;;
  background: url('ok.png') no-repeat 0 -5px;
  position:relative;
  left:-20px;

}

div.stat_3{
  color:#909090;
  .accepted { color:#909090;}
}