<% if !session[:no_notice] %>
    <% notice=Refinery::Notices::Notice.where("active").first %>
    <% if notice %>
        <div class="notice_container">
            <div id="notice1">
                <div class="noticebox">


                    <%= raw notice.content %>
                </div>
                <a class='closenotice' >zavřít</a>
            </div>
        </div>
    <%end%>
<%end%>